{:favicon     "notebooks/favicon.ico"
 :remote-repo {:git-url "https://github.com/scicloj/noj"
               :branch "main"}
 :page-layout :full
 :quarto {:format {:html
                   {:toc true
                    :toc-depth 4
                    :theme [:cosmo "notebooks/custom.scss"]
                    ;;:page-layout :full
                    :grid
                    {:sidebar-width "500px"
                     :body-width "2500px"
                     :margin-width "500px"}}}
          :fontsize "0.9em"
          :code-block-background true
          :include-in-header {:text "<link rel = \"icon\" href = \"data:,\" />"}}
 :base-target-path "temp"}
