{:favicon     "pages/favicon.ico"
 :base-target-path   "temp"
 :base-source-path   "pages"
 :quarto-target-path "site"
 :keep-sync-root     false
 :flatten-targets    false
 :remote-repo {:git-url "https://github.com/scicloj/noj"
               :branch "main"}
 :hide-ui-header     true
 :hide-info-line     true
 ;; :use-kindly-render true
 ;; aliases
 :markdown
 {:render           true
  :base-target-path "site"
  :format           [:quarto :html]
  :run-quarto       false}}
