{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        scicloj/tablecloth {:mvn/version "7.021"}
        org.scicloj/kindly {:mvn/version "4-alpha9"}
        generateme/fastmath {:mvn/version "2.2.1"}
        aerial.hanami/aerial.hanami {:mvn/version "0.18.0"}
        cljplot/cljplot {:mvn/version "0.0.3"}
        ;; scicloj/scicloj.ml {:mvn/version "0.3"}
        scicloj/metamorph.ml {:git/url "https://github.com/scicloj/metamorph.ml"
                              :git/sha "2cab47cf5ef502b8688cd3186633e8f05f1f68e5"}
        scicloj/scicloj.ml.smile {:mvn/version "7.2"}
        clj-python/libpython-clj {:mvn/version "2.025"}
        scicloj/clojisr {:mvn/version "1.0.0-BETA22"}
        org.scicloj/tempfiles {:mvn/version "1-alpha2"}
        kixi/stats {:mvn/version "0.5.5"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      org.scicloj/clay {:mvn/version "2-alpha81"}}}
  :dev {:extra-paths ["notebooks"]
        :extra-deps {org.scicloj/clay {:mvn/version "2-alpha81"}}}}}
