{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        scicloj/tablecloth {:mvn/version "7.029.2"}
        org.scicloj/kindly {:mvn/version "4-beta5"}
        generateme/fastmath {:mvn/version "3.0.0-SNAPSHOT"}
        aerial.hanami/aerial.hanami {:mvn/version "0.20.0"}
        org.scicloj/hanamicloth {:mvn/version "1-alpha4-SNAPSHOT"}
        cljplot/cljplot {:mvn/version "0.0.3"}
        scicloj/metamorph.ml {:git/url "https://github.com/scicloj/metamorph.ml"
                              :git/sha "bb151eec256f0e4443cdb4f39be8609f6078a4ad"}
        ;; scicloj/scicloj.ml.smile {:mvn/version "7.2"}
        scicloj/scicloj.ml.tribuo {:git/url "https://github.com/scicloj/scicloj.ml.tribuo"
                                   :git/sha "f4ebf1e1bb78eb99dd35ca886d75b9f65d800e8d"}
        org.tribuo/tribuo-regression-sgd {:mvn/version "4.2.0"}
        org.tribuo/tribuo-regression-tree {:mvn/version "4.2.0"}
        org.tribuo/tribuo-classification-sgd {:mvn/version "4.2.0"}
        org.tribuo/tribuo-classification-tree {:mvn/version "4.2.0"}
        clj-python/libpython-clj {:mvn/version "2.025"}
        org.scicloj/kind-pyplot {:mvn/version "1-beta1"}
        scicloj/clojisr {:mvn/version "1.0.0"}
        org.scicloj/tempfiles {:mvn/version "1-alpha2"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      org.scicloj/clay {:mvn/version "2-beta14"}}}
  :dev {:extra-paths ["notebooks"]
        :extra-deps {org.scicloj/clay {:mvn/version "2-beta14"}}}}}
