{:paths ["src" "resources"]
 :deps {scicloj/tablecloth {:mvn/version "7.029.2"}
        org.scicloj/tcutils {:mvn/version "0.1.0-alpha2"}
        com.techascent/tmd-parquet {:mvn/version "1.001"}
        org.scicloj/kindly {:mvn/version "4-beta12"}
        generateme/fastmath {:mvn/version "3.0.0-alpha1"}
        aerial.hanami/aerial.hanami {:mvn/version "0.20.0"}
        org.scicloj/hanamicloth {:mvn/version "1-alpha8"
                                 :exclusions [scicloj/metamorph.ml]}
        scicloj/metamorph.ml {:git/url "https://github.com/scicloj/metamorph.ml.git"
                              :git/sha "50f47dad934a2786b3cf025bef509f1f3d1a7e1d"
                              :exclusions [generateme/fastmath]}
        org.scicloj/scicloj.ml.tribuo {:mvn/version "0.1.1-branch-noj-2-alpha4-SNAPSHOT"
                                       :exclusions [scicloj/metamorph.ml]}
        org.tribuo/tribuo-regression-sgd {:mvn/version "4.3.1"}
        org.tribuo/tribuo-regression-tree {:mvn/version "4.3.1"}
        org.tribuo/tribuo-regression-xgboost {:mvn/version "4.3.1"}
        org.tribuo/tribuo-classification-sgd {:mvn/version "4.3.1"}
        org.tribuo/tribuo-classification-tree {:mvn/version "4.3.1"}
        org.tribuo/tribuo-classification-xgboost {:mvn/version "4.3.1"}
        clj-python/libpython-clj {:mvn/version "2.025"}
        org.scicloj/kind-pyplot {:mvn/version "1-beta1"}
        scicloj/clojisr {:mvn/version "1.0.0"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy           {:mvn/version "0.2.1"}}


          :ns-default build}
  :test {:extra-paths ["test" "notebooks"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      org.scicloj/clay {:mvn/version "2-beta16"}}}
  :dev {:extra-paths ["notebooks" "build"]
        :extra-deps {org.scicloj/clay {:mvn/version "2-beta16"}
                     scicloj/scicloj.ml.smile {:mvn/version "7.4.1"}
                     org.scicloj/sklearn-clj {:mvn/version "0.4.1"}
                     }}}}
