[{:part "Overview"
  :chapters ["underlying_libraries"
             "recommended_libraries"
             "known_issues"]}
 {:part "Tutorials"
  :chapters ["datasets"
             "ml_basic"
             "prepare_for_ml"
             "automl"
             "interactions_ols"
             "visualizing_correlation_matrices"]}]
