[{:part "Overview"
  :chapters ["underlying_libraries"
             "recommended_libraries"
             "known_issues"]}
 {:part "Datasets"
  :chapters ["tablecloth_table_processing"
             "datasets"]}
 {:part "Statistics"
  :chapters ["statistics_intro"
             "linear_regression_intro"]}
 {:part "Machine Learning"
  :chapters ["metamorph"
             "ml_basic"
             "prepare_for_ml"
             "automl"
             "interactions_ols"]}
 {:part "Data Visualization"
  :chapters ["tableplot_datavis_intro"
             "echarts"
             "visualizing_correlation_matrices"]}
 {:part "Linear Algebra"
  :chapters ["linear_algebra_intro"
             "fastmath_vector_geom2d3d"
             "fastmath_vector_word_embeddings"
             "fastmath_matrix_intro"]}
 {:part "Use Cases"
  :chapters ["chicago_bike_times"]}
 
 {:part "Model references"
  :chapters ["smile_classification"
             "smile_regression"
             "smile_others"
             "xgboost"
             "sklearn_reference"
             "tribuo_reference"
             "transformer_references"]}
 ]
