name: Clojure CI

on: 
 - push
 - pull_request
 - workflow_dispatch

permissions:
  contents: read
  pages: write
  id-token: write
  packages: write

jobs:

  run-tests:

    runs-on: ubuntu-latest

    steps:
   
    - uses: actions/checkout@v4

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2 
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}


    - name: Run make ci-build in dev container
      uses: devcontainers/ci@v0.3
      with:
               push: never             
               runCmd: clj -T:build ci

  make-doc:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2 
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Make docs in dev container
      uses: devcontainers/ci@v0.3
      with: 
          
          push: never
          runCmd: clj -A:dev -X dev/render-all-notebooks 
           
    - name: fix permisions
      run:  sudo chmod o+w docs/
          
    - name: Setup Pages
      uses: actions/configure-pages@v5
    - name: Build with Jekyll
      uses: actions/jekyll-build-pages@v1
      with:
         source: ./docs
         destination: ./_site
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
    
  # Deployment job
  deploy-pages:
   environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
   runs-on: ubuntu-latest
   # only run github-pages deployemnts on main, not on PRs for example
   if: github.ref == 'refs/heads/main'
   needs: make-doc
   steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
    

